Repository ambervdberg/azure-function-bots: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --cache --fix", "prettier --write"],
  "*.{json,css,md}": "prettier --write"
}

chore: add homepage URL to package.json
  package.json
Due: prettier --write

feat: add checkbox type
  src/functions/notion-api/notionUtils.ts
Due: eslint --cache --fix, prettier --write

feat(notion): add a rate-limiter to prevent 429 errors
  src/functions/notion-api/notion.service.ts
  src/functions/notion-api/notionUtils.ts
  src/functions/notion-api/rate-limiter.ts
  src/functions/notion-api/search.ts
Due: eslint --cache --fix, prettier --write

chore: update dependencies and devDependencies in package.json
  package-lock.json
  package.json
Due: prettier --write

chore: update dependencies and devDependencies in package.json (#57)
  package-lock.json
  package.json
Due: prettier --write

chore: npm audit fix
  package-lock.json
Due: prettier --write

chore: npm audit fix (#69)
  package-lock.json
Due: prettier --write

chore: npm update packages
  package-lock.json
  package.json
Due: prettier --write

Migrate Notion integration to data sources
  src/functions/notion-api/database.ts
  src/functions/notion-api/notion.service.ts
  src/functions/notion-api/notionUtils.ts
  src/functions/notion-api/search.ts
Due: eslint --cache --fix, prettier --write

Migrate Notion integration to data sources (#71)
  package-lock.json
  package.json
  src/functions/notion-api/database.ts
  src/functions/notion-api/notion.service.ts
  src/functions/notion-api/notionUtils.ts
  src/functions/notion-api/search.ts
Due: eslint --cache --fix, prettier --write

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/main_function-app-ai-bots.yml
Due: none

fix: read OAuth token from Authorization header instead of query param
  src/functions/auth-google.ts
Due: eslint --cache --fix, prettier --write

fix: read OAuth token from Authorization header instead of query param (#72)
  src/functions/auth-google.ts
Due: eslint --cache --fix, prettier --write

chore: update actions in Azure deploy workflow
  .github/workflows/main_function-app-ai-bots.yml
Due: none

chore: update actions in Azure deploy workflow (#73)
  .github/workflows/main_function-app-ai-bots.yml
Due: none

feat: pick subject from options
  src/functions/open-ai/poem.ts
Due: eslint --cache --fix, prettier --write

feat: pick subject from options (#74)
  src/functions/open-ai/poem.ts
Due: eslint --cache --fix, prettier --write
